<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meetup</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <nav>
            <div class="nav-header">
                @Html.ActionLink("Meetup", "Index", "Home", new { area = "" }, new { @class = "nav-item nav-logo" })
                <div class="nav-toggle">
                    <div class="burger-part"></div>
                    <div class="burger-part"></div>
                    <div class="burger-part"></div>
                </div>
            </div>
            <div class="nav-links">
                <div class="nav-list nav-item">
                    @Html.ActionLink("Forside", "Index", "Home")
                    @Html.ActionLink("Personer", "Index", "Users")
                    @if(Request.IsAuthenticated)
                    {
                        @Html.ActionLink("Dine Events", "Index", "Events")
                    }
                    </div>
                @Html.Partial("_LoginPartial")
            </div>
        </nav>
    </header>
    @if(ViewBag.FullSize == true)
    {
        @RenderBody()
    }
    else
    {
        <main>
            @RenderBody()
        </main>
    }
    <footer>
        <p>&copy; @DateTime.Now.Year - Meetup</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/navigation.js")
    @RenderSection("scripts", required: false)
</body>
</html>
