@model Meetup.Websites.Models.WishesViewModel
@using Meetup.Entities;
@{
    ViewBag.Title = "Ønskeliste for " + Model.TheEvent.Name;
}

<div class="white-box">
    <h3>Ønskeliste for <a href="@Url.Action("Page","Events",new { Id = Model.TheEvent.Id })">&quot;@Model.TheEvent.Name&quot;</a></h3>
    <ul>
        @for (int i = 0; i < Model.WishList.Count; i++)
        {
            <li class="item item-split">
                <div class="item-name">
                    <p class="wish-number">Wish @(i+1)</p>
                    <p class="wish-description">@Model.WishList[i].ToString()</p>
                </div>
                <div class="item-edit">
                    <a href="@Url.Action("Edit", new { Id = Model.WishList[i].Id })">Rediger</a>
                    <a href="@Url.Action("Delete", new { Id = Model.WishList[i].Id })">Slet</a>
                </div>
            </li>
        }
    </ul>
    <a href="@Url.Action("Create", new { Id = Model.TheEvent.Id })" class="button end-button">Lav et nyt ønske</a>
</div>

