@model Meetup.Websites.Models.UserIndexModel
@using Meetup.Entities;
@{
    ViewBag.Title = "Forside";
}

<div class="side-boxes">
    <section class="white-box">
        <h3>Opkommende events:</h3>
        <ul>
            @for(int i = 0; i < Model.NextEvents.Count; i++)
            {
                <li class="item">
                    <div class="item-name">
                        <a href="@Url.Action("Page","Events", new { Id = Model.NextEvents[i].Id })">@Model.NextEvents[i].Name</a><br />
                        <p>Dato: @Model.NextEvents[i].BeginningTime.ToString("dd-MM-yyyy HH:mm")</p>
                        @if(Model.NextEvents[i].Seances.Count == 0)
                        {
                            <p>Du har @Model.WishesPerEvent[i] @(Model.WishesPerEvent[i] == 1 ? "ønske" : "ønsker") for denne event.</p>
                        }
                        else
                        {
                            <p>Der er lavet en liste over seancerne.</p>
                        }
                    </div>
                </li>
            }
        </ul>
    </section>
    <section class="white-box">
        <h3>Nye invitationer:</h3>
        <ul>
            @foreach(Event newEvent in Model.NewEvents)
            {
                <li class="item">
                    <a href="@Url.Action("Page","Events", new { Id = newEvent.Id })">@newEvent.Name</a>
                </li>
            }
        </ul>
    </section>
</div>

