@model Meetup.Websites.Models.UserProfileModel
@{
    ViewBag.Title = Model.User.FullName + " Profile";
}

<figure class="white-box profile-top">
    <img src="@Model.User.PictureUri" alt="@Model.User.FullName" />
    <figcaption>
        <h2>@Model.User.FullName</h2>
        <p>@Model.User.Email</p>
        @if(Request.IsAuthenticated)
        {
            <section class="box-edit-buttons">
                <a href="@Url.Action("Invite","Events",new { Id = Model.User.Id })" class="button">Invite</a>
                @if(Model.IsYou)
                {
                    <a href="@Url.Action("Edit", "Users")" class="button">Edit</a>
                }
            </section>
        }
    </figcaption>
</figure>
<div class="white-box">
    <p>@Model.User.Description</p>
    <br />
    <p>Address: @Model.User.Address</p>
    <p>Email: @Model.User.Email</p>
</div>
<div class="side-boxes">
    <section class="white-box">
        <h3>Businesses:</h3>
        <ul>
            @foreach(Meetup.Entities.UsersBusiness business in Model.User.UsersBusinesses)
            {
                <li>@business.Business.Name</li>
            }
        </ul>
    </section>
    <section class="white-box">
        <h3>Interests:</h3>
        <ul>
            @foreach(Meetup.Entities.UsersInterest interest in Model.User.UsersInterests)
            {
                <li>@interest.Interest.Name</li>
            }
        </ul>
    </section>
</div>
<section class="white-box">
    <h3>Organizations:</h3>
    <section>
        @foreach(Meetup.Entities.UsersOrganizations organization in Model.User.UsersOrganizations)
        {
            <section>@organization.ToString()</section>
        }
    </section>
</section>

