@model Meetup.Websites.Models.EventListCreationModel
@{
    ViewBag.Title = "Creating List for " + Model.Event.Name;
}

<h2>Create list for @Model.Event.Name</h2>
<p>Info about the event...</p>
@using(Html.BeginForm("CreateList", "Events", FormMethod.Post, new { role = "form", enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "invalid" })

    @Html.HiddenFor(m => m.Event.Id)

    @Html.ValidationMessageFor(m => m.AmountOfMeetings, "", new { @class = "invalid" })
    @Html.LabelFor(m => m.AmountOfMeetings)
    @Html.TextBoxFor(m => m.AmountOfMeetings)

    @Html.ValidationMessageFor(m => m.MinuteInterval, "", new { @class = "invalid" })
    @Html.LabelFor(m => m.MinuteInterval)
    @Html.TextBoxFor(m => m.MinuteInterval)
    <input type="submit" value="Create list" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

