@model Meetup.Websites.Models.EventEditCreationModel
@{
    if(Model.Editing)
    {
        ViewBag.Title = "Rediger event - " + Model.Name;
    }
    else
    {
        ViewBag.Title = "Lav event";
    }
}

<section class="white-box">
    <h3>@(Model.Editing ? "Rediger event \"" + Model.Name + "\"" : "Lav event")</h3>
    @using(Html.BeginForm(Model.Editing ? "Edit" : "Create", "Events", FormMethod.Post, new { role = "form", @class = "normal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "invalid" })

        @Html.HiddenFor(m => m.EditingId)
        <div class="form-group">
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "invalid" })
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)

            @Html.ValidationMessageFor(m => m.Time, "", new { @class = "invalid" })
            @Html.LabelFor(m => m.Time)
            <input type="datetime-local" name="Time" id="Time" value="@(Model.Time?.ToString("yyyy-MM-ddTHH:mm"))" />

            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "invalid" })
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description)
        </div>
        <div class="form-group">
            @Html.EditorFor(m => m.Address)
        </div>

        <input type="submit" value="@(Model.Editing ? "Gem" : "Lav")" class="button" />
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
