@model Meetup.Websites.Models.EventPageModel
@using Meetup.Entities;
@{
    ViewBag.Title = Model.Event.Name;
}

<section class="event-information white-box">
    @if(Model.EventOwner)
    {
        <div class="box-edit-buttons">
            <a class="button" href="@Url.Action("Edit","Events",new { Id = Model.Event.Id })">Rediger denne event</a>
        </div>
    }

    <h2>@Model.Event.Name</h2>
    <p>@Model.Event.Address</p>
    <p>@Model.Event.BeginningTime.ToString("dd-MM-yyyy HH:mm")</p>

    <p class="event-information-item">@Model.Event.Description</p>
</section>

<section class="event-wishes white-box">
    @if(Model.Invited)
    {
        <p>Du har @Model.UserWishes.Count @(Model.UserWishes.Count == 1 ? "ønske" : "ønsker") for denne event.</p>
        <a href="@Url.Action("List","Wishes",new { Id = Model.Event.Id})">Klik her for at se din ønskeliste.</a>
    }
    else
    {
        <p>Du har ikke inviteret dig selv til denne event.</p>
        using(Html.BeginForm("Invite", "Events", FormMethod.Post, new
        {
            @class = "post-simple",
            role = "form",
            enctype = "multipart/form-data"
        }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("TheEvent", Model.Event.Id)
            @Html.Hidden("User", Model.UserID)

            <input type="submit" value="Klik her for at invitere dig selv." />
        }
    }
</section>

@if(Model.Event.Seances.Count == 0)
{
    <section class="meeting-line">
        <h3>Dine møder:</h3>
        <p>Der er ikke lavet nogen liste endnu.</p>
        @if(Model.EventOwner)
        {
            <a href="@Url.Action("CreateList", new { Id = Model.Event.Id })" class="button">Lav en liste</a>
        }
    </section>
}
else
{
    <section class="meeting-line">
        <a class="seance-collapse-button button" href="@Url.Action("Seances","Events", new { Id = Model.Event.Id })">Alle møder</a>
        <h3>Dine møder:</h3>
        @if(Model.EventOwner)
        {
            <a href="@Url.Action("CreateList", new { Id = Model.Event.Id })" target="_blank" class="button">Lav en ny liste</a>
        }
    </section>
    <div class="horizontal-scroll">
        @if(Model.Meetings.Count != 0)
        {
        <table class="seance-holder">
            <tr>
                @foreach(Meeting meeting in Model.Meetings)
                {
                    <th class="seance-time">
                        <p><time datetime="@meeting.Seance.BeginningTime">@meeting.Seance.BeginningTime.ToString("HH:mm")</time>-<time datetime="@meeting.Seance.EndTime">@meeting.Seance.EndTime.ToString("HH:mm")</time></p>
                    </th>
                }
            </tr>
            <tr>
                @foreach(Meeting meeting in Model.Meetings)
                {
                    <td class="meeting">
                        <a href="@Url.Action("Profile", "Users", new { Id = meeting.UserOne.Id })">@meeting.UserOne.FullName</a>
                        <br />
                        <a href="@Url.Action("Profile", "Users", new { Id = meeting.UserTwo.Id })">@meeting.UserTwo.FullName</a>
                    </td>

                }
            </tr>
        </table>
        }
        else
        {
        <p>Du har ingen møder for denne event.</p>
        }
    </div>
}

<div class="white-box spaced-box">
    <h2>Personer i denne event:</h2>
</div>
@Html.DisplayFor(m => m.InvitedUsers, "Users")
