@model Meetup.Websites.Models.SeanceViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Seances</title>
    @Styles.Render("~/Content/css")
</head>
<body class="highlight">
    <h1>Seances for the event &quot;<a href="@Url.Action("Page","Events",new { id = Model.Event.Id })">@Model.Event.Name</a>&quot;</h1>
    <p>Address: @Model.Event.Address</p><br />
    @Html.DisplayFor(m => m)
</body>
</html>
